<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Welcome email</title>
    <style>
    </style>
  </head>
  <body>
    <table style="width: 100%; background-color: #f5f5f5; height: 60px;">
      <td style="width: 150px;"></td>
      <td style="width: 800px;"><img src="/assets/email/logo.png"></td>
      <td><a href="#" style="color: #4cbbd6; text-decoration: none;">Find a Health Expert</a></td>
      <td><a href="#" style="background-color: #4cbbd6; color: white; text-decoration: none; border-radius: 4px; padding: 6px 12px; line-height: 1.42857; text-align: center; border: 1px solid transparent;">Ask a Health Question</a></td>
    </table>
    <table style="width: 100%; border-top: 2px solid #f5f5f5; padding-top: 15px; padding-bottom: 300px;">
      <tr style="width: 100%; text-align: center;">
        <td style="text-align: center;"><img src="/assets/email/logo_round.png"></td>
      </tr>
      <tr style="text-align: center;">
        <td><h1 style="font-weight: 500; font-size: 24px; font-color: #5e5e5e;">Congratulations on becoming a fellow <span style="color: #4cbbd6;">Twealr!</span></h1>
          <div style="font-color: #5e5e5e; text-align: center; width: 540px; margin: 0 auto;">
            <p><span style="color: #4cbbd6; font-weight: bold;">Twealr</span> is a new platform that enables health users to ask health experts any question online for free. Health users can also book online phone or video health consultations instantly at the touch of a button.</p>
            <p><span style="color: #4cbbd6; font-weight: bold;">Twealr</span>'s mission is to be the best interactive health knowledge platform and online collaborative consulting platform.</p>
          </div>
        </td>
      </tr>
    </table>
    <table style="width: 100%; border-top: 2px solid #f5f5f5; height: 60px;">
      <td style="width: 150px;"></td>
      <td style="width: 800px;"><a href="#" style="color: #9f9f9f; font-size: 14px; text-decoration: none;">Change notification settings |</a> <a href="#" style="color: #9f9f9f; font-size: 14px; text-decoration: none;">Contact Support<br>
        Copyright (c) 2015 Twealr</a> 
      </td>
      <td>
      
      </td>
    </table>
  </body>
</html>
