<!--main-->
<section class="main main-reffer">
  <div class="container">
    <div class="row">
      <div class="col-md-12"> 
        <!--logo-->
        <div class="text-center"><img src="/assets/start/logo2.png" data-at2x="/assets/start/logo2.png" alt="logo"></div>
        <!--logo end--> 
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <% if @user.expert? %>
          <!--welcome-message-->
          <header class="text-center">
          <h3 class='text-center' style="line-height: 1.5em; ">Congratulations on signing up as a health expert at Twealr. <br> Invite other health experts and grow your network.</h3>
          </header>
          <!--welcome-message end-->
        <% else %>
          <!--welcome-message-->
          <header class="text-center">
            <h3 class='text-center' style="line-height: 1.5em; ">Congratulations on becoming a fellow Twealr!</h3>
          </header>
          <!--welcome-message end-->

          <div class="hero">
              <div class="page-content clearfix">
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                      <h5>Want to get one free consultation and early access?</h5>
                      <h5>Invite 5 friends to sign up at your unique url: </h5>
                    </div>
                    <% twitter_message = "yoyoyo" %>
                    <div class="ref-div col-lg-6 col-lg-offset-3 text-center" contenteditable="true" disabled="true" onclick="document.execCommand('selectAll',false,null)">
                      <%= root_url %>?ref=<%= @user.referral_code %>
                    </div>
                    <div class="col-lg-6 col-lg-offset-3">
                      <br>
                      <h5>Twealr is a new platform that enables health users to ask health experts any question online for free. Health users can also book online phone or video health consultations instantly at the touch of a button. 
                      </h5>
                      <h5>Twealr's mission is to be the best interactive health knowledge platform and online collaborative consulting platform. </h5>
                      <h5>Help us spread our mission by inviting 5 friends to sign up to your unique url link above, and receive a free consultation with a health expert of your choice! This offer is limited to the first 100 members who sign up!</h5>
                      
                    </div>
              </div>
          </div>
        <% end %>
        <!--sub-form-->

        <!--sub-form end-->


      </div>
    </div>
  </div>
</section>
<!--main end-->

<!--Features-->


<!--CONTACT END-->


