<div class='container'>

  <h1>Disclaimer</h1>
  <p>
    Welcome to Twealr. By continuing to browse and use this website, you are agreeing that www.twealr.co.uk (the “Site”) makes available a platform for Twealr members and health experts to connect online, interact, ask questions, receive responses and participate in online consultations with health experts. You understand that Twealr does not provide any consultations or responses itself and is not an agent or insurer. Twealr is only to be used to facilitate connections between Twealr members and health experts. Twealr makes no representations or warranties of any kind, express or implied, about the accuracy or reliability of the information, content and consultations provided through the website. As such, the use of the Site and the provision of information and participation in any of the online consultations and interactions is solely at your own risk.
  </p>

  <h1>Copyright Policy</h1>
  <p>
    The contents of this Site including but not limited to all text, graphics, data, designs, photographs, and, other content are owned by Twealr, or are used with the owner’s permission. You may not copy, download, store, distribute commercially or use anything from this website without our prior written permission.
  </p>
</div>
