<div class='container'>

  <h1>Disclaimer</h1>
  <p>
  Welcome to TwealrTM. By continuing to browse and use this website, you are agreeing that www.twealr.com (the "Site") makes available a platform for health users and 
  health experts to connect online and ask health questions, receive answers to these questions and arrange for health consultations (the "Services"). You understand that 
  TwealrTM does not provide any consultations published on the Site, is not a party to any agreements entered into between the health expert and health user and is not an agent 
  or insurer. TwealrTM is only to be used to facilitate connections between health users and health experts.Whilst Twealr TM carries out verification checks on all health experts, 
  TwealrTM makes no representations or warranties of any kind, express or implied, about the accuracy, reliability, or suitability of the Services provided through this website. 
  TwealrTM has no control over the conduct of the health experts, health users and other users of the Services, and disclaims all liability in this regard. As such, the use of the Site 
  and the provision of Services is solely at your own risk.
  </p>

  <h1>Copyright Policy</h1>
  <p>
  The contents of the Site including but not limited to all text, graphics, data, designs, photographs, and other content are owned by TwealrTM, or are used with the owner's 
  permission. You may not copy, download, store, distribute commercially or use anything from this website without our prior written permission.
  </p>
</div>
