// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.expert-label{
  margin-top: 10px;
  font-weight: 200;
  letter-spacing: 1px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.no-padd{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@media (min-width: 320px) and (max-width: 520px){
  #user_expert{
    display: inline-block;
    margin-top: 12px;
    vertical-align: top;
  }
  label.expert-label{
    width: 90%;
    display: inline-block;
  }
}
